*{
    font-family: 'Barlow Semi Condensed', sans-serif !important;
}


.botone{
    width:40px;
    height:40px;
    background-color:hsl(120, 1%, 70%);
    margin: 2px;
    padding:10px;
    border-radius: 50px;
    font-size:11px;
    line-height:32px;
    text-transform: uppercase;
    float:left;
    overflow: hidden;
  }
  .botone:hover{
    opacity: 0.50;
  
    filter:alpha (opacity=50);
  }
  .botone a{
    color:#fff;
    text-decoration:none;
    padding:5px 5px 5px 0;
  }
  

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-container {

    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    
}

.card {
    width: 300px;
    border-radius:10px;
    outline: 1px solid rgba (255, 255, 255, .5);
    outline-offset: -8px;
    box-shadow: 0px 15px 25px rgba (0, 0, 0, 0.50);
    position: relative;
    overflow: hidden;
    cursor: pointer;

}
    
        
    .img-tran{
        transition: all 500ms ease-out;
    
    }


    .img-tran:hover {
        transform: scale(1.1);
        
        }
    
    .lit:hover {
        color:#424242 !important;
    }


/* NAVBAR */
.li-none{
    list-style: none;
}

.bg-nav-custom{
    background-color: #ffffff;
}

.text-white{
    color:#424242 !important;
    font-size: 20px;
}

.serch-button-navbar{
    background-color: #d6680b !important;
}

.btn-custom{
    background-color: #d6680b !important;
}

#search-navbar{
    color: #ffffff !important;
}
.logo{
    height:50px;
  }

/* HEADER */
.masthead {
    height:45vh;
    min-height: 500px;
    background-image:url(/img/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }



/* SHOW-ARTICLE*/
.custom-positioning{
    display: inline-block;
    
    
}
#p-date{
    margin-inline-start: 25%;
}
#hr-show{
    margin-top:26%;
}


